body {
	margin: 1em;
    font-family: "Lucida Console", Monaco, monospace;
	background-color: #706767;
	background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

nav ul {
	display: flex;
	padding: 0px;
}

nav li {
	margin: 0.2em;
	padding: 0.1em;
	list-style: none;
}

nav li a {
	color: black;
}

nav li a:hover {
	font-weight: bold;
}

li {
    list-style-type: square;
}

section {
	padding: 0.4em;
	margin: 0.6em;
	border-radius: 15px;
	background: #06060654;
	overflow-x: auto;
}

.camera {
	position: relative;
	margin: 0.8em;
	width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.cameraBtn {
	position: absolute;
    text-align: center;
	background: #3535346e;
	display: flex;
    align-items: center;
    justify-content: center;
}

.cameraBtn > i {
	font-size: 4em;
}

.cameraBtn:hover {
	transition: 0.2s;
	background: #10101082;
}

.cameraBtn:active {
	transition: 0.2s;
	background: #060606b5;
}

.up {
	top: 0px;
    right: calc(50% - 2.5em);
    width: 5em;
    height: 2.5em;
    border-radius: 0px 0px 0.8em 0.8em;
}

.down {
	bottom:0px;
    right: calc(50% - 2.5em);
    width: 5em;
    height: 2.5em;
    border-radius: 0.8em 0.8em 0px 0px;
}

.left {
	bottom: calc(50% - 2.5em);
    left: 0px;
    width: 2.5em;
    height: 5em;
    border-radius: 0px 0.8em 0.8em 0px;
}

.right {
	bottom: calc(50% - 2.5em);
    right: 0px;
    width: 2.5em;
    height: 5em;
    border-radius: 0.8em 0px 0px 0.8em;
}

.feed {
	width: 100%;
}

.control {
	padding: 0.2em;
	margin: 0.5em;
}

.formWrapper {
	width: 20em;
	padding: 1.2em;
	border-radius: 15px;
	background: #06060654;
}

.formControl {
	margin: 0.2em;
	padding: 0.4em;
}

.alert {
	font-weight: bold;
	color: red;
}