<!DOCTYPE html>
<html lang="es">

<head>
  <title>Camera settings</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <header>
    <h1>Home security camera settings</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Camera</a></li>
      <li><a href="{{ url_for('logout') }}">Log out</a></li>
    </ul>
  </nav>
  <main>
    <section>
      <h1>This is a placeholder</h1>
    </section>
  </main>
</body>

</html>